/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/



body {
  font-size: 24px;
  line-height: 1.4;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #fff;
  margin: auto;
  background-image: url('../images/background2.jpg');
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
    background-position: cover; 
    overflow: hidden;
 


}


.container {

  width: 100%;
  margin: auto;
  padding: 20px;
}



header { 
position: relative;
z-index: 100;
background: rgba(0,0,0,1); 
height: 70px;
width: 100%;
 }


.fa-bars {

  float: right;
  cursor: pointer;
}


.responsive-menu{
  display: none;
}
 
.expand {
display: block;


}

nav{
display: block;
position: absolute;
right: 50px;
background-color: rgba(0,0,0,0.5);
border-radius: 5px;
padding: 10px;
}


a {
  text-decoration: none;
  color: white;
}



/******************************************
/* HOMEPAGE
/*******************************************/

header .logo {
  float: left;
}

header ul {
float: right;
text-align: right;
 
}




.homepage-text,
.logo-text,
.logo-image{ 

font-size: 1rem;
text-align: center;
 }

img {
height: 340px;
}



.homepage-body{ 

  height: 100vh;
 }



.listen-now {
  margin: 11px auto 0;
  border: solid white 5px;
  text-align: center;
  width:215px;
  border-radius: 32px;
  background-color: #21D05F
}




/******************************************
/* Playlist
/*******************************************/



.playlist-page {

/*Playlist Toggle css*/
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 0.6s;
  transform: translateY(100%);
  /*background-image: url(../images/winter.jpg);*/
}



/*Background images*/

/*#seasons {

background-image: url(../images/winter.jpg)

}*/


.winter {
/*position: fixed;*/

height: 100vh;
background-image: url(../images/winter.jpg)

}

.winter2 {
/*position: fixed;*/

height: 100vh;
background-image: url(../images/winter2.jpg)

}

.spring {
height: 100vh;
background-image: url(../images/spring.jpg)


  
}

.summer {
height: 100vh;
background: cover;
background-image: url(../images/summer.jpg)

  
}

.autum {
height: 100vh;
background: cover;
background-image: url(../images/autum.jpg)
/*background: cover;*/
}



.playlist-title{

  position: absolute;
  top: 75px;
  padding-left: 20px;

}


h3{

  position: absolute;
  top: 133px;
  font-size: 1rem;
  padding-left: 20px;
}



/*Toggle Playlist css*/

.playlist-page.active {
  transform: translateY(0);
}



.playlist {

margin: 0 auto;
}

.playlists-div{
height: 100vh;
margin: 66px auto 20px ;  

}

.main-carousel { 

  margin-top: 110px;

 }


.s-playlist-div{

  display: none;
}


/*Arrow button customisation Slick */

/*.slick-prev:before{
  content: "<-------";
  color: red;
  font-size: 30px;
}*/


/*.slick-next:before {
  content: "---->";
  color: blue;
  font-size: 30px;
}*/



img.playlist-image{
  max-height:50%;   
  max-width:50%;

}


iframe {
  height: 450px;
  width: 250px;
    margin-left: 55px;
    border: 5px solid ;
 
}


/*Flickety*/

.carousel-cell  {
  width: 100%;
  height: 450px;
}

/*.flickity-prev-next-button.next{

   right: 0px;
}

*/


/*Fix Main carocel in place*/


@media only screen and (min-width: 360px) and (max-width: 400px) { 

.flickity-prev-next-button.next{

   left: 308px;
}




}




/*Tablet Mode*/

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

  .homepage-text,
  .logo-text,
  .logo-image { 

  font-size: 2rem;

 }


img{ 
  height: 500px;
 }


.playlist-title{

  top: 110px;
  left:30px;
}


.flickity-viewport{
height: 700px !important;

}


iframe {
  height: 700px;
  width: 625px;
  
 
}

.main-carousel { 

  margin-top: 90px;

 }

}





@media screen 
  and (min-device-width: 1025px) 
  and (-webkit-min-device-pixel-ratio: 1) { 


  .homepage-text,
  .logo-text,
  .logo-image { 
    width: 1000px;
    margin: 0 auto;
  font-size: 2rem;

 }


img{ 
  height: 500px;
 }


.playlist-title{

  top: 75px;
  left:687px;
  font-size: 2rem;
}


h3{

  position: absolute;
  top: 133px;
  font-size: 1rem;
  left: 532px;
}

.flickity-viewport{
height: 700px !important;

}


iframe {
  height: 650px;
  width: 700px;
  margin-left: 106px;
  
 
}

.main-carousel { 

  margin: 90px 360px 0;

 }


/*.flickity-prev-next-button.next{

   right: 75px;
}


.flickity-prev-next-button.previous{

  left: -10px;
}*/


}



