/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/



body {
  font-size: 24px;
  line-height: 1.4;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: auto;
/*  background-image: url('../images/background2.jpg');*/
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
    background-position: cover; 
    overflow: hidden;
 


}


.container {

  width: 100%;
  margin: auto;
  padding: 20px;
}



header { 
position: relative;
z-index: 100;
background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #000000, #301E3F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #000000, #301E3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



height: 70px;
width: 100%;
 }


.fa-bars {

  float: right;
  cursor: pointer;
}


.responsive-menu{
  display: none;
}
 
.expand {
display: block;


}

nav{
display: block;
position: absolute;
right: 50px;
background-color: rgba(0,0,0,0.5);
border-radius: 5px;
padding: 10px;
}


a {
  text-decoration: none;
  color: white;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.hlogo{
  height: 50px;
  width: 50px;
   animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 

}

header .hlogo-container {
  float: left;
  margin-top: -15px;
  height: 70px;
  width: 200px;
}

.logo{
display: inline;
font-weight: 700i;

}


header .logo {
  position: absolute;
  top: 16px;
  left: 76px;
}

header ul {
float: right;
text-align: right;
 
}


/******************************************
/* HOMEPAGE
/*******************************************/






.homepage-text,
.logo-text,
.logo-image{ 

font-size: 1rem;
text-align: center;
 }

img {
height: 340px;
}



.homepage-body{ 

  height: 100vh;
 }


@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}



.listen-now {
  margin: 11px auto 0;
  border: solid white 5px;
  text-align: center;
  width:215px;
  border-radius: 32px;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #000000, #301E3F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #000000, #301E3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   animation: breathing 5s ease-out infinite normal;
 -webkit-animation: breathing 5s ease-out infinite normal;



}




/******************************************
/* Playlist
/*******************************************/



.playlist-page {

/*Playlist Toggle css*/
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 0.6s;
  transform: translateY(100%);
  /*background-image: url(../images/winter.jpg);*/
}



/*Background images*/

/*#seasons {

background-image: url(../images/winter.jpg)

}*/


.winter {
/*position: fixed;*/


background-image: url(../images/winter.jpg);
background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
   

}

.winter2 {
/*position: fixed;*/


background-image: url(../images/winter2.jpg);
background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  
}

.spring {

background-image: url(../images/spring.jpg);
background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
   

  
}

.summer {

background: cover;
background-image: url(../images/summer.jpg);
background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
  
}

.autum {

background: cover;
background-image: url(../images/autum.jpg);
background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
   
}



.playlist-title{

  position: absolute;
  top: 75px;
  left: 119px;

}


h3{

  position: absolute;
  top: 133px;
  font-size: 1rem;
  padding-left: 20px;
  text-align: center;

}



/*Toggle Playlist css*/

.playlist-page.active {
  transform: translateY(0);
}



.playlist {

margin: 0 auto;
}

.playlists-div{
height: 100vh;
margin: 66px auto 20px ;  

}

.main-carousel { 

  margin-top: 110px;

 }


.s-playlist-div{

  display: none;
}





img.playlist-image{
  max-height:50%;   
  max-width:50%;

}


iframe {
  height: 450px;
  width: 250px;
    margin-left: 55px;
    border: 5px solid ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}


/*Flickety*/

.carousel-cell  {
  width: 100%;
  height: 450px;
}

/*.flickity-prev-next-button.next{

   right: 0px;
}

*/


/*Fix Main carocel in place*/


/*Footer*/

.footer #button{
  width:35px;
  height:35px;
  border: #a8a8a8 12px solid;
  border-radius:35px;
  margin:0 auto;
  position:relative;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
  width:35px;
  height:35px;
  border: #a8a8a8 12px solid;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  position:relative;
}
.footer {
  bottom:-30px;
  left:0;
  position:fixed;
    width: 100%;
    height: 2em;

    overflow:hidden;
    margin:0 auto;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  z-index:999;
}
.footer:hover {
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  height: 7em;
}
.footer #container{
  margin-top:5px;
  width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
  background: -webkit-linear-gradient(to top, #000000, #301E3F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #000000, #301E3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
  width:150px;
  height:auto;
  margin:0 auto;
}
.footer_center{
  width:500px;
  float:left;
  text-align:center;
}
.footer p{
    font-size: 30px;
  font-weight: 100;
  margin-top:70px;
  margin-left:40px;
}



 

@media only screen and (min-width: 360px) and (max-width: 400px) { 

.flickity-prev-next-button.next{

   left: 308px;
}




}




/*Tablet Mode*/

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

  .homepage-text,
  .logo-text,
  .logo-image { 

  font-size: 2rem;

 }


img{ 
  height: 500px;
 }


.playlist-title{

  top: 110px;
  left:30px;
}


.flickity-viewport{
height: 700px !important;

}


iframe {
  height: 700px;
  width: 600px;
  
 
}

.main-carousel { 

  margin-top: 90px;

 }

}





@media screen 
  and (min-device-width: 1025px) 
  and (-webkit-min-device-pixel-ratio: 1) { 









  .homepage-text,
  .logo-text,
  .logo-image { 
    width: 1000px;
    margin: 0 auto;
  font-size: 2rem;

 }


img{ 
  height: 500px;
 }


.playlist-title{

  top: 75px;
  left:768px;
  font-size: 2rem;
}


h3{

  position: absolute;
  top: 133px;
  font-size: 1rem;
  left: 573px;
}

.flickity-viewport{
height: 700px !important;

}


iframe {
  height: 650px;
  width: 625px;
  margin-left: 106px;
  
 
}

.main-carousel { 

  margin: 90px 445px 0;

 }


.flickity-prev-next-button.next{

   right: -55px;
}



}



